<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons >
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Bienvenido</h1>
  <h2 class="mensjUser"></h2>
  <ion-item >
    <ion-avatar item-start>
      
    </ion-avatar>
    <h2>Escanear codigo Qr</h2>
  </ion-item>

  <ion-item >
    <ion-avatar item-start>
      
    </ion-avatar>
    <h2>Revisar asistencia</h2>
  </ion-item>

  <ion-item >
    <ion-avatar item-start>
      
    </ion-avatar>
    <h2>Ver perfil</h2>
  </ion-item>

  
</ion-content>
